$primary-color: #8e44ad;
$white-color: #ffffff;
$text-color: #34495e;
$text-secondary-color: #7f8c8d;
$gray-light-color: #f5f5f5;
$gray-light-2-color: #dedede;
$border-color: #d6dbe4;
$border-2-color: #dedede;

$error-color: #ff5125;
$error-background: #f9edea;
